# These are requirements to be installed using Pip
# Note the switch '--user':
#
#   $ pip install --user --upgrade -r requirements.txt
#
# NEVER use "sudo" for these.
# Project Spesific for System identification
# Maintainer: Selcuk Ercan
# Adress: ercans@ethz.ch

plotly==3.5.0
numpy==1.15.2
GitPython==2.1.11
