<launch>
    <!-- General -->
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="local" default="true" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>

    <!-- Camera -->
    <arg name="config" default="baseline" doc="Specify a config."/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />
    <arg name="raw" default="true" doc="If set to true, also publish raw image using decoder."/>
    <arg name="cam_info" default="true" doc="If set to true, use cam_info_reader_node to pusblish CameraInfo."/>
    <arg name="live" default="true" doc="live set to false means we don't run the actual camera (i.e. running from a log file" />
    <arg name="rect" default="true" />
    <!-- Configuration -->
    <arg name="line_detector_param_file_name" default="$(arg param_file_name)"/>>
    <arg name="fsm_file_name" default="default" />
    <arg name="custom_resolution" default="no" doc="to process images with non-default dimension, i.e. (640, 480),  enter in format: HIGH_LOW."/>
    <!-- Anti-instagram -->
    <arg name="anti_instagram" default="true" />
    <arg name="ai_trafo_mode" default="cb" doc="'cb' for colo balance only; 'both' for color balance and linear trafo"/>
    <arg name="ai_interval" default="5" doc="interval with which the linear trafo gets updated. color balance is performed every second."/>
    <!-- Debugging -->
    <arg name="visualization" default="true"/>
    <arg name="verbose" default="true"/>

    <!-- Calibration -->
    <arg name="package_namespace" default="calibration" />
    <arg name="node_namespace" default="data_collector" />

    <!-- Directories to read and save the rosbags -->
    <arg name="input_rosbag" doc="path to the input rosbag containing the compressed image"/>
    <arg name="output_rosbag" doc="file path to save the processed rosbag."/>

    <!-- Operation  specific write to parameter server-->
    <arg name="operation_mode" default="0"  doc="for asynchronous (the standard ros operation):0 (default),for synchronous (sequential) operation:1." />
    <arg name="save_lane_filter" default="false" doc="specify if you would like to save the output returned by lane filter."/>

    <!-- Activate Sections-->
    <arg name="lane_filter_pose" default="true" />
    <arg name="april_tag_pose" default="true" />

    <!-- start local pose calculation lane filter -->
    <group if="$(arg lane_filter_pose)">
        <include file="$(find calibration)/launch/lane_pose.launch">
            <!-- General -->
            <arg name="veh" value="$(arg veh)"/>
            <arg name="local" value="$(arg local)"/>
            <arg name="operation_mode" value="$(arg operation_mode)"/>
            <!-- Configuration -->
            <arg name="config" value="$(arg config)" />
            <arg name="param_file_name" value="$(arg param_file_name)" />
            <arg name="line_detector_param_file_name" value="$(arg line_detector_param_file_name)" />
            <arg name="fsm_file_name" value="$(arg fsm_file_name)" />
            <!-- Anti-instagram -->
            <arg name="anti_instagram" value="$(arg anti_instagram)"/>
            <arg name="ai_trafo_mode" value="$(arg ai_trafo_mode)"/>
            <arg name="ai_interval" value="$(arg ai_interval)"/>
            <!-- Debugging -->
            <arg name="visualization" value="$(arg visualization)"/>
            <arg name="verbose" value="$(arg verbose)"/>
        </include>
    </group>

    <!-- start local pose calculation from apriltag detections -->
    <group if="$(arg april_tag_pose)">
        <include file="$(find calibration)/launch/compressed_image_to_world_frame.launch">
            <!-- General -->
            <arg name="veh" value="$(arg veh)"/>
            <arg name="local" value="$(arg local)"/>
            <!-- Camera -->
            <arg name="config" value="$(arg config)"/>
            <arg name="param_file_name" value="$(arg param_file_name)"/>
            <arg name="raw" value="$(arg raw)"/>
            <arg name="cam_info" value="$(arg cam_info)"/>
            <arg name="live" value="$(arg live)"/>
            <arg name="rect" value="$(arg rect)"/>
            <arg name="custom_resolution" value="$(arg custom_resolution)"/>
            <!-- Directories to read and save the rosbags -->
            <arg name="input_rosbag" value="$(arg input_rosbag)"/>
            <arg name="output_rosbag" value="$(arg output_rosbag)"/>
            <!-- Operation  specific write to parameter server-->
            <arg name="operation_mode" value="$(arg operation_mode)" />
            <arg name="save_lane_filter" value="$(arg save_lane_filter)"/>
        </include>
    </group>

    <group ns="$(arg veh)/$(arg package_namespace)">
      <node pkg="$(arg package_namespace)" type="measurement_buffer.py" name="measurement_buffer" clear_params="true" required="true" output="screen">
        <param name="veh" value="$(arg veh)"/>
        <param name="input_rosbag" value="$(arg input_rosbag)"/>
        <param name="output_rosbag" value="$(arg output_rosbag)"/>
        <param name="operation_mode" value="$(arg operation_mode)"/>
      </node>
    </group>

</launch>
