<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="package_namespace" default="calibration" />
    <arg name="node_namespace" default="calibration" />
    <arg name="path" default="/media/logs/" doc="path of the recorded bag." />

    <group ns="$(arg veh)/$(arg package_namespace)">
        <node  pkg="calibration" type="kinematic_calibration.py" name="kinematic_calibration" output="screen" clear_params="true" required="true">
            <param name="veh" value="$(arg veh)"/>
            <param name="path" value="$(arg path)"/>
        </node>
    </group>
</launch>

