<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="package_namespace" default="calibration" />
    <arg name="node_namespace" default="calibration" />
    <arg name="folder_path" doc="path to the folder containing rosbags" />

    <group ns="$(arg veh)/$(arg package_namespace)">
        <node  pkg="calibration" type="kinematic_calibration.py" name="kinematic_calibration" output="screen" clear_params="true" required="true">
            <param name="veh" value="$(arg veh)"/>
            <param name="folder_path" value="$(arg folder_path)"/>
        </node>
    </group>
</launch>

